services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
      POSTGRES_DB: db_wild_rent
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d db_wild_rent -U admin"]
      interval: 1s
      timeout: 2s
      retries: 100
  adminer:
    image: adminer
    depends_on:
      db:
        condition: service_healthy
  backend:
    build: ./backend
    volumes:
      - ./backend/src:/app/src
    healthcheck:
      test: 'curl --fail --request POST --header ''content-type: application/json'' --url ''http://localhost:4000'' --data ''{"query":"query { __typename }"}'' || exit 1'
      interval: 1s
      timeout: 2s
      retries: 100
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./frontend
    environment:
      - VITE_E2E_TEST=true
    volumes:
      - ./frontend/src:/app/src
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --request GET --url 'http://localhost:5173' || exit 1"
      interval: 1s
      timeout: 2s
      retries: 100
  api_gateway:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy
      img:
        condition: service_healthy
    ports:
      - 7000:80
  img:
    build: ./img
    healthcheck:
      test: "curl --fail --request GET --url 'http://localhost:4000' || exit 1"
      interval: 1s
      timeout: 2s
      retries: 100
    volumes:
      - ./img/uploads:/app/uploads
      - ./img/clean.js:/app/clean.js
  e2e:
    volumes:
      - ./test-results:/app/test-results
    build: ./e2e
    env_file:
      - ./e2e/.env
    depends_on:
      - api_gateway
    network_mode: "host"
volumes:
  db-data:
